<?xml version="1.0"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
    http://maven.apache.org/xsd/settings-1.0.0.xsd">
    <servers>
        #foreach ($server in $settings.getServers())
            <server>
                #set($id = $server.getId())
                #if ($id)
                    <id>${id}</id>
                #end
                #set($username = $server.getUsername())
                #if ($username)
                    <username>${username}</username>
                #end
                #set($password = $server.getPassword())
                #if ($password)
                    <password>${password}</password>
                #end
                <!--
                privateKey is not supported at the moment,
                since we're not transferring this file to Heroku.
                Maybe it's a good feature to implement in the future
                -->
                #set($passphrase = $server.getPassphrase())
                #if ($passphrase)
                    <passphrase>${passphrase}</passphrase>
                #end
            </server>
        #end
    </servers>
</settings>
