<?xml version="1.0"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
    http://maven.apache.org/xsd/settings-1.0.0.xsd">
    <servers>
        #foreach ($server in $settings.getServers())
            <server>
                #if ($server.getId())
                    <id>${server.getId()}</id>
                #end
                #if ($server.getUsername())
                    <username>${server.getUsername()}</username>
                #end
                #if ($server.getPassword())
                    <password>${server.getPassword()}</password>
                #end
                #if ($server.getPrivateKey())
                    <!--
                    privateKey is not supported at the moment,
                    since we're not transferring this file to Heroku.
                    Maybe it's a good feature to implement in the future
                    -->
                #end
                #if ($server.getPassphrase())
                    <passphrase>${server.getPassphrase()}</passphrase>
                #end
            </server>
        #end
    </servers>
</settings>
