 ------
 jcabi.com
 ------
 Yegor Bugayenko
 ------
 2012-04-29
 ------

~~
~~ Copyright (c) 2012-2013, JCabi.com
~~ All rights reserved.
~~
~~ Redistribution and use in source and binary forms, with or without
~~ modification, are permitted provided that the following conditions
~~ are met: 1) Redistributions of source code must retain the above
~~ copyright notice, this list of conditions and the following
~~ disclaimer. 2) Redistributions in binary form must reproduce the above
~~ copyright notice, this list of conditions and the following
~~ disclaimer in the documentation and/or other materials provided
~~ with the distribution. 3) Neither the name of the jcabi.com nor
~~ the names of its contributors may be used to endorse or promote
~~ products derived from this software without specific prior written
~~ permission.
~~
~~ THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS
~~ "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT
~~ NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND
~~ FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL
~~ THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT,
~~ INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
~~ (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR
~~ SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
~~ HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT,
~~ STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE)
~~ ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED
~~ OF THE POSSIBILITY OF SUCH DAMAGE.
~~

Small Useful Java Components

  JCabi is a collection of small and useful Java components, which
  are not big enough to make their own projects. The project is maintained by
  {{{https://plus.google.com/u/0/114792568016408327418?rel=author}Yegor Bugayenko}}
  in
  {{{https://github.com/yegor256/jcabi}Github}}
  (you're welcome to fork it and submit your pull requests). Full list of
  components in alphabetic order:

  {{{./jcabi-aether/index.html}<<<jcabi-aether>>>}}:
  wrapper of {{{https://docs.sonatype.org/display/AETHER/Home}Sonatype Aether}}.

  {{{./jcabi-aspects/index.html}<<<jcabi-aspects>>>}}:
  useful AOP aspects, incl. JSR-303.

  {{{./jcabi-beanstalk-maven-plugin/index.html}<<<jcabi-beanstalk-maven-plugin>>>}}:
  Amazon Elastic Beanstalk Maven deployment plugin.

  {{{./jcabi-dynamo/index.html}<<<jcabi-dynamo>>>}}:
  Amazon Dynamo DB Object Layer.

  {{{./jcabi-heroku-maven-plugin/index.html}<<<jcabi-heroku-maven-plugin>>>}}:
  Heroku Maven deployment plugin.

  {{{./jcabi-ssl-maven-plugin/index.html}<<<jcabi-ssl-maven-plugin>>>}}:
  SSL keystore generator for multi-module Maven projects.

  {{{./jcabi-jdbc/index.html}<<<jcabi-jdbc>>>}}:
  simple wrapper of {{{http://en.wikipedia.org/wiki/Java_Database_Connectivity}JDBC}}.

  {{{./jcabi-log/index.html}<<<jcabi-log>>>}}:
  wrapper of {{{http://www.slf4j.org/}SLF4J}} logging facility.

  {{{./jcabi-manifests/index.html}<<<jcabi-manifests>>>}}:
  utility class reading <<<META-INF/MANIFEST.MF>>> files.

  {{{./jcabi-maven-plugin/index.html}<<<jcabi-maven-plugin>>>}}:
  supplementary Maven plugin, mostly used in
  {{{./parent/index.html}<<<com.jcabi:parent>>>}}.

  {{{./jcabi-maven-skin/index.html}<<<jcabi-maven-skin>>>}}:
  Maven Skin, used in this website and many others.

  {{{./jcabi-maven-slf4j/index.html}<<<jcabi-maven-slf4j>>>}}:
  Maven Log binding for SLF4J.

  {{{./jcabi-urn/index.html}<<<jcabi-urn>>>}}:
  Java implementation of Uniform Resource Name (URN).

  {{{./jcabi-velocity/index.html}<<<jcabi-velocity>>>}}:
  simple wrapper of {{{http://velocity.apache.org/}Apache Velocity}}.

  Besides that,
  {{{./parent/index.html}<<<com.jcabi:parent>>>}}
  is a very useful generic parent Maven <<<pom.xml>>>.

  Released Git revision: <<<${buildNumber}>>>.
