 ------
 Heroku Maven Plugin (for deployment)
 ------
 Yegor Bugayenko
 ------
 2012-10-19
 ------

~~
~~ #set($sign="$")
~~ Copyright (c) 2012-2013, JCabi.com
~~ All rights reserved.
~~
~~ Redistribution and use in source and binary forms, with or without
~~ modification, are permitted provided that the following conditions
~~ are met: 1) Redistributions of source code must retain the above
~~ copyright notice, this list of conditions and the following
~~ disclaimer. 2) Redistributions in binary form must reproduce the above
~~ copyright notice, this list of conditions and the following
~~ disclaimer in the documentation and/or other materials provided
~~ with the distribution. 3) Neither the name of the jcabi.com nor
~~ the names of its contributors may be used to endorse or promote
~~ products derived from this software without specific prior written
~~ permission.
~~
~~ THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS
~~ "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT
~~ NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND
~~ FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL
~~ THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT,
~~ INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
~~ (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR
~~ SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
~~ HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT,
~~ STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE)
~~ ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED
~~ OF THE POSSIBILITY OF SUCH DAMAGE.
~~

Heroku Maven Plugin (for continuous delivery/integration)

  The plugin automates deployment of Java JAR/WAR/EAR applications
  to {{{http://www.heroku.com/}Heroku}}. This is the workflow we encourage you
  to use:

   [[1]] Maven compiles, tests, checks, and packages an app into WAR/JAR file;

   [[2]] {{{http://maven.apache.org/plugins/maven-deploy-plugin/}maven-deploy-plugin}}
     deploys it into repository;

   [[3]] <<<jcabi-heroku-maven-plugin>>> clones Heroku Git repo into
     <<<./target/heroku>>> directory;

   [[4]] <<<pom.xml>>> and <<<settings.xml>>> are being generated
     in the local Git repo, using data from the Maven project and
     configured settings;

   [[5]] <<<Procfile>>> is being copied from plugin configuration into
     the local Git repo;

   [[6]] <<<jcabi-heroku-maven-plugin>>> commits and pushes changes to Heroku;

   [[7]] Heroku runs <<<mvn clean test install>>> and WAR/JAR file is being
     downloaded by
     {{{http://maven.apache.org/plugins/maven-dependency-plugin/}maven-dependency-plugin}}
     into the root directory of the application;

   [[8]] Heroku runs the application as specified in <<<Procfile>>>;

   [[9]] <<<jcabi-heroku-maven-plugin>>> reports the app status and fails
     the build if it's not OK.

  Pay attention to this feature:
  {{{https://devcenter.heroku.com/articles/labs-preboot/}preboot}}.

  This plugin is used to deploy
  {{{http://www.s3auth.com}www.s3auth.com}} to Heroku, and you can see
  how it's done in their
  {{{https://github.com/yegor256/s3auth/blob/master/s3auth-rest/pom.xml}<<<pom.xml>>>}}.

  See {{{./usage.html}Usage}} page.

