 ------
 Mount EBS Volume to Amazon Elastic Beanstalk Environment
 ------
 Yegor Bugayenko
 ------
 2012-11-26
 ------

~~
~~ #set($sign="$")
~~ Copyright (c) 2012, jcabi.com
~~ All rights reserved.
~~
~~ Redistribution and use in source and binary forms, with or without
~~ modification, are permitted provided that the following conditions
~~ are met: 1) Redistributions of source code must retain the above
~~ copyright notice, this list of conditions and the following
~~ disclaimer. 2) Redistributions in binary form must reproduce the above
~~ copyright notice, this list of conditions and the following
~~ disclaimer in the documentation and/or other materials provided
~~ with the distribution. 3) Neither the name of the jcabi.com nor
~~ the names of its contributors may be used to endorse or promote
~~ products derived from this software without specific prior written
~~ permission.
~~
~~ THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS
~~ "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT
~~ NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND
~~ FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL
~~ THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT,
~~ INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
~~ (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR
~~ SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
~~ HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT,
~~ STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE)
~~ ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED
~~ OF THE POSSIBILITY OF SUCH DAMAGE.
~~

Mount EBS Volume to Amazon Elastic Beanstalk Environment

  Sometimes it is necessary to use disc storage in your Elastic
  Beanstalk environment. And you need this storage to be persistent
  between environment terminations. The best option is to attach
  an EBS volume to a running EC2 instance on boot up (it will be
  automatically detached on termination of the instance). Full workflow is
  as following:

   * Check whether the EBS volume is already attached to the current EC2 instance
     (if it is, ignore the rest of the workflow);

   * Attach the given EBS volume to the current instance

   * Create a new directory

   * Mount the device to the directory

   * Change permissions of the directory to enable Tomcat access to it

  Let's configure this workflow using <<<ebextensions>>> (read more about them
  {{{http://docs.amazonwebservices.com/elasticbeanstalk/latest/dg/customize-containers.html}here}}).
  Create a <<<ebs-volume.config>>> file in <<<src/main/ebextensions>>>:

+--
commands:
  01-attach-volume:
    command: |
      export JAVA_HOME=/usr/lib/jvm/jre && \
      export EC2_HOME=/opt/aws/apitools/ec2 && \
      export IN_USE=${sign}(/opt/aws/bin/ec2-describe-volumes --hide-tags \
        --aws-access-key ${sign}{aws.key} \
        --aws-secret-key ${sign}{aws.secret} \
        ${sign}{ebs.volume} | grep "in-use") && \
      if [ -z "${sign}{IN_USE}" ]; then
        /opt/aws/bin/ec2-attach-volume ${sign}{ebs.volume} \
          -i ${sign}(/opt/aws/bin/ec2-metadata --instance-id | cut -c14-) \
          -d /dev/sdf \
          --aws-access-key ${sign}{aws.key} \
          --aws-secret-key ${sign}{aws.secret} &&
        mkdir -p /mnt/ebs-volume &&
        sleep 30 && \
        mount /dev/xvdf /mnt/ebs-volume && \
        chown -R tomcat.tomcat /mnt/ebs-volume
      fi
+--

  As you see, this <<<ebs-volume.config>>> file doesn't contain real
  security data like AWS key, secret key, or volume name. This information
  has to be provided to Maven during build time in your <<<settings.xml>>> file
  (for example):

+--
<settings>
  <profile>
    <id>production</id>
    <properties>
      <ebs.volume>vol-8a8a8a8a</ebs.volume>
      <aws.key>AKIA3G4DFXFQJI8U6CQA</aws.key>
      <aws.secret>Z9ISuYTdV7kIV50YWT3uaycJ4fw+3uQ+XtEVIV1t</aws.secret>
    </properties>
  </profile>
</settings>
+--

  During packaging, as suggested in {{{./example-ebextensions.html}here}}, the
  properties will be substituted by <<<maven-war-plugin>>>.

  That's it. On every reboot (or restart) of the EC2 instance your EBS volume
  will be attached to it. In this example we assumed that your Elastic Beanstalk
  application has only one environment (and never scale up). For bigger
  cases with many environments in one application you probably have to use
  some service-oriented solutions, like database servers, search engine servers,
  etc.
