 ------
 Usage of Amazon Beanstalk Maven Plugin
 ------
 Yegor Bugayenko
 ------
 2012-10-08
 ------

~~
~~ #set($sign="$")
~~ Copyright (c) 2012, jcabi.com
~~ All rights reserved.
~~
~~ Redistribution and use in source and binary forms, with or without
~~ modification, are permitted provided that the following conditions
~~ are met: 1) Redistributions of source code must retain the above
~~ copyright notice, this list of conditions and the following
~~ disclaimer. 2) Redistributions in binary form must reproduce the above
~~ copyright notice, this list of conditions and the following
~~ disclaimer in the documentation and/or other materials provided
~~ with the distribution. 3) Neither the name of the jcabi.com nor
~~ the names of its contributors may be used to endorse or promote
~~ products derived from this software without specific prior written
~~ permission.
~~
~~ THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS
~~ "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT
~~ NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND
~~ FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL
~~ THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT,
~~ INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
~~ (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR
~~ SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
~~ HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT,
~~ STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE)
~~ ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED
~~ OF THE POSSIBILITY OF SUCH DAMAGE.
~~

Deploying WAR projects to Amazon Elastic Beanstalk

  {{{http://docs.amazonwebservices.com/elasticbeanstalk/latest/dg/using-features.deployment.newapp.html}Create
  new application}} in Amazon Elastic Beanstalk.

  Configure running environment and save configuration template.
  Don't forget that you can
  {{{http://aws.typepad.com/aws/2012/10/customize-elastic-beanstalk-using-configuration-files.html}customize
  your app with configuration files}} as explained
  {{{http://docs.amazonwebservices.com/elasticbeanstalk/latest/dg/customize-containers.html}here}}.

  Configure <<<jcabi-beanstalk-maven-plugin>>> in your <<<pom.xml>>>:

+--
<project>
  <build>
    <plugins>
      <plugin>
        <groupId>com.jcabi</groupId>
        <artifactId>jcabi-beanstalk-maven-plugin</artifactId>
        <version>${project.version}</version>
        <configuration>
          <name>example</name>
          <bucket>webapps.example.com</bucket>
          <key>example-${sign}{project.version}-${sign}{buildNumber}.war</key>
          <template>example</template>
        </configuration>
        <executions>
          <execution>
            <goals>
              <goal>deploy</goal>
            </goals>
          </execution>
        </executions>
      </plugin>
    </plugins>
  </build>
</project>
+--

  Run <<<mvn deploy>>>.

  That's all you need. Application name has to be the same as
  the CNAME of environment.
  Server has to be defined in <<<settings.xml>>> with <<<username>>>
  and <<<password>>> (AWS IAM key and secret key).

  If you have any problems - don't hesitate to submit a ticket
  to {{{https://github.com/yegor256/jcabi}github}}.

* Cutting Edge Version

  If you want to use current version of the product, you can do it with
  this configuration in your <<<pom.xml>>>:

+--
<pluginRepositories>
  <pluginRepository>
    <id>oss.sonatype.org</id>
    <url>https://oss.sonatype.org/content/repositories/snapshots/</url>
  </pluginRepository>
</pluginRepositories>
<build>
  <plugins>
    <plugin>
      <groupId>com.jcabi</groupId>
      <artifactId>jcabi-beanstalk-maven-plugin</artifactId>
      <version>1.0-SNAPSHOT</version>
      [...]
    </plugin>
  </plugins>
</build>
+--
