 ------
 Pre-defined Artifacts in <<<dependencyManagement>>>
 ------
 Yegor Bugayenko
 ------
 2012-12-10
 ------

~~
~~ Copyright (c) 2012, jcabi.com
~~ All rights reserved.
~~
~~ Redistribution and use in source and binary forms, with or without
~~ modification, are permitted provided that the following conditions
~~ are met: 1) Redistributions of source code must retain the above
~~ copyright notice, this list of conditions and the following
~~ disclaimer. 2) Redistributions in binary form must reproduce the above
~~ copyright notice, this list of conditions and the following
~~ disclaimer in the documentation and/or other materials provided
~~ with the distribution. 3) Neither the name of the jcabi.com nor
~~ the names of its contributors may be used to endorse or promote
~~ products derived from this software without specific prior written
~~ permission.
~~
~~ THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS
~~ "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT
~~ NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND
~~ FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL
~~ THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT,
~~ INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
~~ (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR
~~ SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
~~ HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT,
~~ STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE)
~~ ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED
~~ OF THE POSSIBILITY OF SUCH DAMAGE.
~~

Pre-defined Artifacts in <<<dependencyManagement>>>

  <<<com.jcabi:parent>>> POM declares a number of most useful
  artifacts in its <<<dependencyManagement>>> section. You can use
  them without specifying <<<version>>>. Thus, you don't need to worry
  about keeping versions up to date. When you're ready to upgrade just
  change the version of our parent POM and all dependencies will
  be upgraded automatically.

  These dependencies are defined always:

   * {{{http://www.jcabi.com/jcabi-log/}<<<jcabi-log>>>}},
     {{{http://www.jcabi.com/jcabi-log/}<<<jcabi-manifests>>>}},
     and all other <<<jcabi-*>>> artifacts.

   * {{{http://commons.apache.org/io/}<<<commons-io>>>}},
     {{{http://commons.apache.org/lang/}<<<commons-lang>>>}},
     and almost all other {{{http://commons.apache.org/}Apache commons}}.

* JUnit, Hamcrest, and Mockito

  When <<<src/test/java>>> directory exists in the project these artifacts
  are automatically added to the list of <<<dependencies>>> (in "test" scope,
  of course):

   * {{{https://github.com/kentbeck/junit/wiki}<<<junit:junit-dep>>>}}:
     unit testing framework;

   * {{{http://code.google.com/p/hamcrest/}<<<org.hamcrest:hamcrest-core>>>}}
     and {{{http://code.google.com/p/hamcrest/}<<<org.hamcrest:hamcrest-library>>>}}:
     assertion framework;

   * {{{http://code.google.com/p/mockito/}<<<org.mockito:mockito-core>>>}}:
     mocking framework.

* Antlr3 Grammar Generator

  When you have a <<<src/main/antlr3>>> directory
  {{{http://www.antlr.org/wiki/display/ANTLR3/ANTLR+3+Wiki+Home}<<<org.antlr:antlr-runtime>>>}}
  dependency goes into classpath
  and {{{http://mojo.codehaus.org/antlr-maven-plugin/}<<<antlr3-maven-plugin>>>}}
  is executed in
  <<<generate-sources>>> phase. Don't forget to add it explicitly to your
  list of dependencies in runtime scope:

+--
<dependencies>
  <dependency>
    <groupId>org.antlr</groupId>
    <artifactId>antlr-runtime</artifactId>
    <scope>runtime</scope>
  </dependency>
</dependencies>

+--

* SLF4J and LOG4J Logging

  When <<<src/test/resources/log4j.properties>>> file exists in your
  project the following two dependencies become available in classpath
  ("test" scope):
  <<<org.slf4j:slf4j-log4j12>>>
  and <<<log4j:log4j>>>.


