 ------
 "Aspectj" Profile for AOP Weaving
 ------
 Yegor Bugayenko
 ------
 2012-12-12
 ------

~~
~~ #set($sign="$")
~~ Copyright (c) 2012-2013, JCabi.com
~~ All rights reserved.
~~
~~ Redistribution and use in source and binary forms, with or without
~~ modification, are permitted provided that the following conditions
~~ are met: 1) Redistributions of source code must retain the above
~~ copyright notice, this list of conditions and the following
~~ disclaimer. 2) Redistributions in binary form must reproduce the above
~~ copyright notice, this list of conditions and the following
~~ disclaimer in the documentation and/or other materials provided
~~ with the distribution. 3) Neither the name of the jcabi.com nor
~~ the names of its contributors may be used to endorse or promote
~~ products derived from this software without specific prior written
~~ permission.
~~
~~ THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS
~~ "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT
~~ NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND
~~ FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL
~~ THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT,
~~ INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
~~ (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR
~~ SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
~~ HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT,
~~ STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE)
~~ ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED
~~ OF THE POSSIBILITY OF SUCH DAMAGE.
~~

"Aspectj" Profile for AOP Weaving

  The profile is activated automatically when you have
  a <<<src/main/aspect>>> directory in the project. Otherwise, you can
  activate it explicitly:

+--
$ mvn clean install -Paspectj
+--

  The profile runs
  {{{http://mojo.codehaus.org/aspectj-maven-plugin/}<<<aspectj-maven-plugin>>>}} plugin and adds
  these dependencies to the classpath:

   * {{{http://www.jcabi.com/jcabi-aspects}<<<com.jcabi:jcabi-aspects>>>}}:
     JSR-303 and other AOP aspects;

   * {{{http://www.eclipse.org/aspectj/}<<<org.aspectj:aspectjrt>>>}} (in <<<runtime>>> scope):
     runtime AOP engine;

   * {{{http://docs.oracle.com/javaee/6/api/javax/validation/package-summary.html}<<<javax.validation:validation-api>>>}}:
     JSR-303 API;

  Don't forget to add JSR-303 validator implementation to your classpath,
  as explained in {{{http://www.jcabi.com/jcabi-aspects/jsr-303.html}jcabi-aspects}}.

  Pay attention that these dependencies are there only when
  profile is activated. After the artifact installation the profile
  won't be activated and you should add runtime dependencies explicitly to the
  project:

+--
<dependencies>
  <dependency>
    <groupId>com.jcabi</groupId>
    <artifactId>jcabi-aspects</artifactId>
  </dependency>
  <dependency>
    <groupId>org.aspectj</groupId>
    <artifactId>aspectjrt</artifactId>
    <scope>runtime</scope>
  </dependency>
  <dependency>
    <groupId>javax.validation</groupId>
    <artifactId>validation-api</artifactId>
    <scope>runtime</scope>
  </dependency>
</dependencies>
+--

  This profile doesn't conflict with
  {{{http://docs.oracle.com/javase/1.5.0/docs/guide/apt/GettingStarted.html}APT}},
  because AspectJ weaving is happening
  outside of the main directory and its results are applied on top of
  APT-processed classes. The solution is borrowed from
  {{{http://stackoverflow.com/questions/3660547/apt-and-aop-in-the-same-project-using-maven}Sean Patrick Floyd}}.
