 ------
 SLF4J and LOG4J Logging
 ------
 Yegor Bugayenko
 ------
 2013-05-01
 ------

~~
~~ #set($sign="$")
~~ Copyright (c) 2012-2013, JCabi.com
~~ All rights reserved.
~~
~~ Redistribution and use in source and binary forms, with or without
~~ modification, are permitted provided that the following conditions
~~ are met: 1) Redistributions of source code must retain the above
~~ copyright notice, this list of conditions and the following
~~ disclaimer. 2) Redistributions in binary form must reproduce the above
~~ copyright notice, this list of conditions and the following
~~ disclaimer in the documentation and/or other materials provided
~~ with the distribution. 3) Neither the name of the jcabi.com nor
~~ the names of its contributors may be used to endorse or promote
~~ products derived from this software without specific prior written
~~ permission.
~~
~~ THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS
~~ "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT
~~ NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND
~~ FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL
~~ THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT,
~~ INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
~~ (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR
~~ SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
~~ HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT,
~~ STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE)
~~ ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED
~~ OF THE POSSIBILITY OF SUCH DAMAGE.
~~

SLF4J and LOG4J Logging

  The profile is activated automatically when
  <<<src/test/resources/log4j.properties>>> file exists in your
  project. The following two dependencies become available in classpath
  (in <<<test>>> scope):
  <<<org.slf4j:slf4j-log4j12>>> and <<<log4j:log4j>>>.

  A good practice is
  1) to annotate your methods/classes with
  {{{../jcabi-aspects/annotation-loggable.html}<<<@Loggable>>>}},
  2) activate
  {{{./profile-aspectj.html}<<<aspectj>>>}} profile, and
  3) create <<<src/test/resources/log4j.properties>>> file with LOG4J configuration
  for unit testing.

  This page explains the format of log4j.properties:
  {{{http://logging.apache.org/log4j/1.2/manual.html}Short introduction to log4j: Ceki Gülcü, March 2002}}.
  This is a short example that works:

+--
log4j.rootLogger=INFO, CONSOLE
log4j.appender.CONSOLE=org.apache.log4j.ConsoleAppender
log4j.appender.CONSOLE.layout=com.jcabi.log.MulticolorLayout
log4j.appender.CONSOLE.layout.ConversionPattern=[%color{%p}] %t %c: %m%n
+--

  In this example we use
  {{{../jcabi-log/multicolor.html}<<<MulticolorLayout>>>}} from
  {{{../jcabi-log/index.html}<<<jcabi-log>>>}},
  which colors log output depending on log priorities.
