 ------
 Static Wrapper of SLF4J
 ------
 Yegor Bugayenko
 ------
 2012-04-29
 ------

~~
~~ Copyright (c) 2012, jcabi.com
~~ All rights reserved.
~~
~~ Redistribution and use in source and binary forms, with or without
~~ modification, are permitted provided that the following conditions
~~ are met: 1) Redistributions of source code must retain the above
~~ copyright notice, this list of conditions and the following
~~ disclaimer. 2) Redistributions in binary form must reproduce the above
~~ copyright notice, this list of conditions and the following
~~ disclaimer in the documentation and/or other materials provided
~~ with the distribution. 3) Neither the name of the jcabi.com nor
~~ the names of its contributors may be used to endorse or promote
~~ products derived from this software without specific prior written
~~ permission.
~~
~~ THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS
~~ "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT
~~ NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND
~~ FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL
~~ THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT,
~~ INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
~~ (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR
~~ SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
~~ HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT,
~~ STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE)
~~ ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED
~~ OF THE POSSIBILITY OF SUCH DAMAGE.
~~

Static Wrapper of SLF4J

  {{{./apidocs/com/jcabi/log/Logger.html}<<<Logger>>>}}
  is a convenient static wrapper of {{{http://www.slf4j.org/}slf4j}}
  (don't forget to include one of
  {{{http://www.slf4j.org/manual.html#binding}SLF4J Bindings}}
  into the project):

+--
import com.jcabi.log.Logger;
class Foo {
  void bar(int value) {
    Logger.debug(this, "method #bar(%d) was called", value);
  }
}
+--

  Read also about log {{{./decors.html}decors}}.

  There are a few other convenient classes in this package:

   * {{{./apidocs/com/jcabi/log/VerboseRunnable.html}<<<VerboseRunnable>>>}} -
     wrapper around <<<java.lang.Runnable>>> that swallows all runtime
     exceptions and logs them to SLF4J.

   * {{{./apidocs/com/jcabi/log/VerboseProcess.html}<<<VerboseProcess>>>}} -
     wrapper around <<<java.lang.Process>>> that monitors process executions,
     collects its output into a <<<String>>> and logs everything through SLF4J.

   * {{{./apidocs/com/jcabi/log/VerboseThreads.html}<<<VerboseThreads>>>}} -
     an implementation of <<<java.util.concurrent.ThreadFactory>>> that
     instantiates threads that log all runtime exceptions through SLF4J.

  The only dependency you need is:

+--
<dependency>
  <groupId>com.jcabi</groupId>
  <artifactId>jcabi-log</artifactId>
  <version>${releasedVersion}</version>
</dependency>
+--

