# SPDX-FileCopyrightText: Copyright (c) 2012-2026 Yegor Bugayenko
# SPDX-License-Identifier: MIT
---
# yamllint disable rule:line-length
name: zerocracy
'on':
  schedule:
    - cron: '27 * * * *'
permissions:
  contents: write
concurrency:
  group: zerocracy
  cancel-in-progress: false
jobs:
  zerocracy:
    runs-on: ubuntu-24.04
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@v6
      - uses: zerocracy/judges-action@0.17.10
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          token: ${{ secrets.ZEROCRACY_TOKEN }}
          repositories: jcabi/*
          factbase: jcabi.fb
      - uses: zerocracy/pages-action@0.6.4
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          factbase: jcabi.fb
          output: pages
      - uses: JamesIves/github-pages-deploy-action@v4.8.0
        with:
          folder: pages
          clean: false
