 ------
 Appending ServletContext Manifests to the Registry
 ------
 Yegor Bugayenko
 ------
 2012-12-2
 ------

~~
~~ #set($sign="$")
~~ #set($hash="#")
~~ Copyright (c) 2012-2013, JCabi.com
~~ All rights reserved.
~~
~~ Redistribution and use in source and binary forms, with or without
~~ modification, are permitted provided that the following conditions
~~ are met: 1) Redistributions of source code must retain the above
~~ copyright notice, this list of conditions and the following
~~ disclaimer. 2) Redistributions in binary form must reproduce the above
~~ copyright notice, this list of conditions and the following
~~ disclaimer in the documentation and/or other materials provided
~~ with the distribution. 3) Neither the name of the jcabi.com nor
~~ the names of its contributors may be used to endorse or promote
~~ products derived from this software without specific prior written
~~ permission.
~~
~~ THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS
~~ "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT
~~ NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND
~~ FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL
~~ THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT,
~~ INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
~~ (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR
~~ SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
~~ HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT,
~~ STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE)
~~ ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED
~~ OF THE POSSIBILITY OF SUCH DAMAGE.
~~

Appending <<<ServletContext>>> Manifests to the Registry

  This is how
  {{{./apidocs-${project.version}/com/jcabi/manifests/Manifests.html}<<<Manifests>>>}}
  utility class finds all <<<MANIFEST.MF>>> files available in the
  classpath:

+--
ClassLoader loader = Thread.currentThread().getContextClassLoader();
Enumeration<URL> resources = loader.getResources("META-INF/MANIFEST.MF");
+--

  Context
  {{{http://docs.oracle.com/javase/7/docs/api/java/lang/ClassLoader.html}<<<ClassLoader>>>}}
  of a current
  {{{http://docs.oracle.com/javase/7/docs/api/java/lang/Thread.html}<<<Thread>>>}}
  is being used to find all available
  <<<META-INF/MANIFEST.MF>>> files.
  This mechanism works just fine in web
  applications (<<<WAR>>> packages) as long as
  the current thread contains the same class loader as is being used in
  {{{http://docs.oracle.com/javaee/6/api/javax/servlet/ServletContext.html}<<<ServletContext>>>}}.
  In some web containers it is not true, and
  {{{./apidocs-${project.version}/com/jcabi/manifests/Manifests.html}<<<Manifests>>>}}
  simply won't see your <<<MANIFEST.MF>>> files.

  To solve the problem there is a method
  {{{./apidocs-${project.version}/com/jcabi/manifests/Manifests.html}<<<append(ServletContext)>>>}},
  which allows you to inform
  {{{./apidocs-${project.version}/com/jcabi/manifests/Manifests.html}<<<Manifests>>>}}
  about an additional classloader available. You should call this method
  in one of your
  {{{http://docs.oracle.com/javaee/6/api/javax/servlet/ServletContextListener.html}<<<ServletContextListener>>>}}-s:

+--
public class MyListener implements ServletContextListener {
  @Override
  public void contextInitialized(ServletContextEvent event) {
    Manifests.append(event.getServletContext());
  }
}
+--

  You can call
  {{{./apidocs-${project.version}/com/jcabi/manifests/Manifests.html}<<<append(ServletContext)>>>}}
  many times, it's harmless for the registry.


